<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация дилера</title>
</head>
<body>
<h1>Поступила анкета на регистрацию дилера</h1>
<table border="1">{% for item in cnt %}<tr><td>{{ item.n }}</td><td>{{ item.v }}</td></tr>{% endfor %}</table>

<table border="1">
{% for each,value in fm.cleaned_data.items %}



    <tr>
       <td>
      {{ each }}
    </td>  <td>
      {{ value }}
    </td>
    </tr>



{% endfor %}
</table>

<table border="1">
{% for each,value in fm.errors.items %}


    <tr>
       <td>
      {{ each }}
    </td>  <td>
      {{ value }}
    </td>
    </tr>

{% endfor %}




</table>

</body>
</html>
